.hero {
  background-image: url('/Users/boreddysrisaiabhinavreddy/Desktop/ElanWEB/Frontend/src/assets/logonew.jpg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: top center;
  background-color:#0a001f ; 
  height: 200vh;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  position: relative;
  padding-top: 2rem; 
}
.hero-overlay {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 12px;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-overlay h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero-overlay p {
  font-size: 1.25rem;
}