@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Cream+Soda&family=Raleway:wght@500&display=swap');


.merchandise-section {
  background-color: #0a001f;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 0rem;
  margin:  auto;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.merch-title-container {
  
  border-radius: 1.5rem;
  display: inline-block;
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(0px);
}

.merch-title {
  font-family: 'Chelsea Market', cursive;
  font-size: 2.5rem;
  color: #fff;
}

.merch-gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.merch-shirt {
  width: 350px;
  height: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
}

.merch-shirt:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #fff5;
}